<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Innovator.Client" version="2020.2.23.1756" targetFramework="net472" />
  <package id="Mvp.Xml" version="2.3.0" targetFramework="net40" />
  <package id="Nancy" version="2.0.0" targetFramework="net472" />
  <package id="Nancy.Hosting.Self" version="2.0.0" targetFramework="net472" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net45" />
  <package id="Windows7APICodePack-Core" version="1.1.0.0" targetFramework="net40" />
  <package id="Windows7APICodePack-Shell" version="1.1.0.0" targetFramework="net40" />
</packages>