<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InnovatorAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ImportExportTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <InnovatorAdmin.Properties.Settings>
            <setting name="Main_Bounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="EditorWindow_Bounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="FindReplace_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FindReplace_LastMode" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastConnection" serializeAs="String">
                <value/>
            </setting>
            <setting name="EditorWindowPanelCollapsed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiffToolCommand" serializeAs="String">
                <value/>
            </setting>
            <setting name="MergeToolCommand" serializeAs="String">
                <value/>
            </setting>
            <setting name="BatchCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ThreadCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LastDpiScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RecentDocument" serializeAs="String">
                <value/>
            </setting>
        </InnovatorAdmin.Properties.Settings>
        <ImportExportTest.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="Aml" serializeAs="String">
                <value/>
            </setting>
        </ImportExportTest.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
</configuration>
